.Projects {
  position: relative;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: gainsboro;
  color: gainsboro;
}
.P-info {
  position: relative;
  bottom: 200px;
  display: flex;
  flex-direction: column;
}