.Contact{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon-wrapper{
  display: flex;
  align-items: center;
  width: 80vw;
  justify-content: space-evenly;
}
.c-icon{
  font-size: 75px;
}





